@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/background-img3.jpg"); 
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #424040;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
